<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Américas</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/americas.css' %}">
    <link rel="icon" href="{% static 'img/america.png' %}">
</head>
<body>
    <h1>Américas</h1>
    <ul>
        <li><a href="canada"><button>Canadá</button></a></li>
        <li><a href="colombia"><button>Colômbia</button></a></li>
        <li><a href="mexico"><button>México</button></a></li>
    </ul>
</body>
</html>