body{
    background-color: lightskyblue;
}
h1 {
    color: aliceblue;
    font-family:'Trebuchet MS';
    font-size: 100px;
    margin: 100px 30px 50px 30px;
}
h2 {
    font-family:'Trebuchet MS';
    font-size: 20px;
    color: green;
    margin-left: 30px;
    margin-right: 50px;
    text-align: justify;
}
li {
    list-style-type: none;
}
img{
    width: 500px;
}
.foto{
    margin: -50px 10px -50px 10px;
    text-align: center;
}
.foto2{
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.foto2 img{
    border-radius: 50px;
} 